<h1>Recipe Book</h1>

<h2>Welcome, {{userName}}</h2>

<form>
  <input [(ngModel)]="userName" type="text" name="user">
</form>

<div *ngFor='let currentRecipe of recipes'>
  <h3 [class] ="difficultyColor(currentRecipe)">{{currentRecipe.title}}</h3>
  <h5>Ingredients:</h5>
  <ul>
    <li *ngFor='let currentIngredient of currentRecipe.ingredients'>{{currentIngredient}}</li>
  </ul>
  <h5>Instructions:</h5>
  <ol>
    <li *ngFor='let currentInstructions of currentRecipe.instructions'>{{currentInstructions}}</li>
  </ol>
  <button (click)="editRecipe(currentRecipe)">Edit</button>
</div>

<div *ngIf="selectedRecipe">
  <h3>{{selectedRecipe.title}}</h3>
  <p>Recipe Difficult? {{selectedRecipe.difficulty}}</p>
  <h3>Edit Recipe</h3>
  <label>Enter Recipe Title</label>
  <input [(ngModel)]="selectedRecipe.title">
  <label> Enter Recipe Difficulty (easy, medium, hard):</label>
  <br>
  <input type="radio" [(ngModel)]="selectedRecipe.difficulty" value="easy">easy<br>
  <input type="radio" [(ngModel)]="selectedRecipe.difficulty" value="medium">medium<br>
  <input type="radio" [(ngModel)]="selectedRecipe.difficulty" value="hard">hard<br>
  <button (click)="finishedEditing()">Done</button>
</div>
