<h1>Recipe Book</h1>

<h2>Welcome, {{userName}}</h2>

<form>
  <input [(ngModel)]="userName" type="text" name="user">
</form>

<app-recipe-list [childRecipeList]="masterRecipes" (clickSender)="editRecipe($event)"></app-recipe-list>

<app-edit-recipe [childSelectedRecipe]="selectedRecipe" (clickedDone)="finishedEditing()"></app-edit-recipe>

<app-new-recipe (sendRecipe)="addRecipe($event)"></app-new-recipe>

<!-- <form id="newRecipeForm">
  Recipe Name: <input type="text" name="name" #recipeName id="recipeName2"><br>
  <button (click)="addRecipe(recipeName.value)">Go</button>
</form> -->
